.cooperation {

    &__container {
    }

    &__block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 60px;
        background-color: var(--light-accent);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 38px;
    }

    &__block-description {
    }

    &__block-title {

        color: var(--dark);
        &_accent {
            color: var(--orange);
        }
    }

    &__button {
        width: max-content;
    }

    &__img-wrapper {
        width: 360px;
    }

    &__img {
        pointer-events: none;
    }
}

@include media($mobile) {
    .cooperation {


        &__block {
            flex-direction: column;
            padding: 45px 20px 20px 20px;
        }
    
        &__content {
            gap: 15px;
        }
        &__button {
            width: 100%;
        }
    
        &__block-description {
        }
    
        &__img-wrapper {
            width: 260px;
            margin-top: 20px;
        }
    
    }
}