.header {
    z-index: 100;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--opacity-light);
    position: fixed;
    width: 100%;
    transition: .3s;
    &__container {
        z-index: 2;
    }

    &__main {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-wrapper {
        width: 170px;
        height: 60px;
        filter: brightness(1000%);
        transition: .3s;
    }
    &__logo-wrapper:hover{
        opacity: 0.6;
    }
    &__logo {
    }

    &__menu {
        display: flex;
    }

    &__menu-main {
        padding: 0;
        gap: 30px;
        list-style: none;
        align-items: center;
        justify-content: center;
        :nth-child(n + 2) a{
            opacity: .7;
        }
        a{
            color: var(--light);
            text-decoration: none;
        }
        a:hover{
            color: $orange;
            opacity: 1;
        }
    }
    &__menu-main:hover{
        opacity: 1;
    }
    &__menu-main .header__menu-item {

        &_orange {
            padding: 15px 20px;
            border-radius: 25px;
            border: 1px solid var(--orange);
            transition: .3s;
            a{
                color: var(--orange) !important;
                opacity: 1 !important;
            }
        }
        &_orange:hover {
            background-color: var(--orange);
            a{
                color: var(--light) !important;
            }
        }
    }


    &__right-block {
        display: flex;
        gap: 30px;
    }

    &__social {
        display: flex;
        gap: 20px;
        a:hover{
            color: var(--orange) !important;
        }
    }
    &__burger-social{
        margin-top: 30px;
        a{
            color: var(--dark);
            width: 30px;
            height: 30x;
        }
    }
    &__main-social{
        a{
            color: var(--light);
            width: 20px;
            height: 20px;
        }
    }
    &__account {
        color: var(--light);
        text-decoration: none;
    }
    &__account:hover {
        color: var(--orange) !important;
    }
    &__burger-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 8px;
    }
    &__burger-button:hover .header__burger-line {
        background-color: var(--orange);
    }

    &__burger-line {
        height: 2px;
        width: 30px;
        background-color: var(--light);
        transition: .3s;
        border-radius: 25px;
    }
    &__burger-tint{
        transition: .3s;
        background-color: var(--dark);
        opacity: .4;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: 99;
        position: fixed;
        display: none;
        &_active{
            display: block;
        }
    }
    &__burger {
        width: 390px;
        position: relative;
        padding: 45px 40px 30px 40px;
        background-color: var(--light);
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: -30px;
        right: -30px;
        transition: .4s;
        &_active{
            opacity: 1;
            pointer-events: inherit;
        }
    }

    &__burger-logo-wrapper {
        width: 112px;
        height: 40px;
        display: flex;
    }

    &__burger-close {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 45px;
        top: 45px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        &::before{
            content: "";
            height: 2px;
            width: 30px;
            background-color: var(--dark);
            border-radius: 25px;
            position: absolute;
            transform: rotate(45deg);
            transition: .3s;
        }
        &::after{
            content: "";
            height: 2px;
            width: 30px;
            background-color: var(--dark);
            border-radius: 25px;
            position: absolute;
            transform: rotate(-45deg);
            transition: .3s;
        }
    }
    &__burger-close:hover{
        &::before{
            background-color: var(--orange);
        }
        &::after{
            background-color: var(--orange);
        }
    }
    &__menu-burger {
        flex-direction: column;
        gap: 10px;
        padding: 30px 0;
        border-bottom: 1px solid var(--gray);
        a{
            text-decoration: none;
        }
    }
    &__menu-burger .header__menu-item {
        list-style-type: none;

        a{
            opacity: 0.5;
        }
        a:hover{
            opacity: 1;
            color: var(--dark);
        }

        &_orange {
            opacity: 1;
            transition: .3s;
            a{
                color: var(--orange);
                opacity: 1 !important;
            }
        }
        &_orange:hover {
            a{
                color: var(--dark);
            }
        }
    }
    &__develop{
        display: block;
        margin-top: 20px;
        a{
            color: var(--orange);
        }
        a:hover{
            color: var(--dark);
        }
    }
    &_active{ /*Скролл меню*/
        background-color: var(--light);
        border-bottom: 1px solid var(--gray);
        .header{
            &__logo-wrapper {
                filter: inherit;
            }
            &__main-social{
                a{
                    color: var(--dark);
                }
            }
            &__menu-main {
                a{
                    color: var(--dark);
                }

            }
            &__burger-line {
                background-color: var(--dark);
            }
            &__account {
                color: var(--dark);
            }
        }
    }
}
@include media($customTablet) {
    
    .header {
        &__menu-main .header__menu-item{
            display: none;
            &_orange{
                display: block;
            }
        }

    }
}
@include media($tablet) {
    .header{
        &__main-social{
            display: none;
        }
    }
}
@include media($mobile) {
    .header{
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: none;
        &__logo-wrapper {
            width: 90px;
            height: 30px;
        }
        &__main {
            gap: 7px;
        }
        &__right-block{
            gap: 7px;     
        }
        &__account{
            width: max-content;
        }
        &__burger{
            top: -15px;
            right: 0px;
            padding: 30px 15px;
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
        }
        &__menu-burger{
            text-align: center;
        }
        &__burger-close{
            top: 30px;
            right: 15px;
        }
        &__menu-main .header__menu-item{
            &_orange{
                padding: 9px;
                width: max-content;
            }
        }
        &__burger-social{
            justify-content: center;
        }
        &__develop{
            text-align: center;
        }
        &__burger-line {
            width: 25px;
        }
        &__burger-close {

            &::before{
                width: 25px;
            }
            &::after{
                width: 25px;
            }
        }
    }
}
@include media($customMobile) {
    .header{
        &__menu-main .header__menu-item{
            &_orange{
                display: none;
            }
        }
    }
}
