$laptop: 1500;
$customTablet: 1308;
$tablet: 1200;
$tabletMobile: 890;
$mobile: 640;
$customMobile: 350;

$light: #FAF8F6;
$gray: #b9b8b6;
$opacity-light: #FAF8F64D;
$dark: #282827;
$white:#FFFFFF;
$black: #181817;
$orange: #FF5C00;
